nav>ul>li>a {
    padding: 18px;
    margin-right:0;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    }
    nav>ul>li{
      display:inline-block;
    }
    nav{
      text-align:right;
      background-color:grey;
    }
    li>a:hover{
      background-color:red;
    }
    h1{
        color:#9932CC;
        font-family:'lucida calligraphy';
        text-align:center;
        font-style:italic;
        background-color:white;
      }
      body{
        font-size:x-large;
        margin-left:50px;
        margin-right:50px;
        padding:3px;
      }
      footer{
        text-align:center;
        font-size:small;
        background-color:rgb(218, 195, 195);
      }
      #home{
          background-color:grey;
          text-align:center;
      }
      #aboutMe{
          background-color:beige;
      }
      #projects{
          background-color:rgb(138, 117, 117);
      }